<!-- home component html  -->
<div id="first_text">

  <h1>We are the Nation's</h1>
  <h1>first line of defence...</h1>
  
  <p>
    <strong
    >We accomplish what others cannot accomplish and go where others cannot
    go.</strong
    >
  </p>
  
  <p>
    A career at SHIELD is unlike any other. We are looking for people from all
    backgrounds and walks of life to carry out the work of a Nation.
  </p>
  
  <h3><button type="button" class="btn btn-info" routerLink="career">FIND YOUR CALLING</button></h3>
</div>
  
<table>
  <tr>
    <td><h1>Our Legacy</h1></td>
    <td>
      <p>
        <strong
          >We give government leaders the intelligence they need to keep our
          country safe.</strong
        >
      </p>
      <p>
        As the world’s premier foreign intelligence agency, the work we do at
        SHIELD is vital to country's national security. We collect and analyze
        foreign intelligence and conduct covert action. U.S. policymakers,
        including the head of the State, make policy decisions informed by the
        information we provide.
      </p>
      <h4>
        <button type="button" class="btn btn-info" routerLink="legacy">
          Learn About Our Missions
        </button>
      </h4>
    </td>
  </tr>
</table>
