/* home component css */

*{
  margin-top: 20px;
  margin-bottom: 20px;
}

#first_text{
      background-image: url('https://images.unsplash.com/photo-1493246507139-91e8fad9978e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 40px;
      color: white;
      
}

table {
    width: 100%;
    border-collapse: collapse;
  }

  tr, td {
    border: 1px ;
    padding: 8px;
    text-align: center;
    width: 50%; /* Set each column to take up 50% of the table width */
  }